.spinner {
    display: none;
}
.thumb {
    max-width: 300px;
}
.deletePhoto, .deletePhoto_main {
    position: relative;
    width: 300px;
    margin: 15px 0;
}
.deletePhoto i, .deletePhoto_main i {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background: whitesmoke;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s;
}
.deletePhoto i:hover, .deletePhoto_main i:hover {
    opacity: 1;
}

.files-main{
    margin-top: 15px;
}
